In [41]:
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd

In [10]:
all_matches_main = pd.read_csv('matches_1930_2022.csv')

In [32]:
all_matches_main[['home_goal']]
all_matches_main.describe()

,home_score,home_xg,home_penalty,away_score,away_xg,away_penalty,Attendance,Year
count,964.000000,128.000000,35.000000,964.000000,128.000000,35.000000,964.000000,964.000000
mean,1.776971,1.435938,3.285714,1.044606,1.192187,3.057143,45693.374481,1989.244813
std,1.596676,0.860391,1.226459,1.071233,0.809258,1.136115,22704.131689,24.014409
min,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,2000.000000,1930.000000
25%,1.000000,0.800000,3.000000,0.000000,0.600000,2.000000,31800.000000,1974.000000
50%,1.000000,1.300000,3.000000,1.000000,1.000000,3.000000,42725.000000,1994.000000
75%,3.000000,1.925000,4.000000,2.000000,1.525000,4.000000,60984.500000,2010.000000
max,10.000000,5.200000,5.000000,7.000000,5.700000,5.000000,173850.000000,2022.000000

In [39]:
all_matches=all_matches_main[['home_team', 'away_team', 'home_score','away_score','Round','Date','Year', 'Score']]
all_matches.tail()
listofteams=all_matches['home_team']
listofteams=listofteams.append(all_matches['away_team'])
listofteams=listofteams.unique()
len(listofteams)

86

In [29]:
xgmatches=all_matches_main[['home_team', 'away_team', 'home_score','home_xg','away_score','away_xg','Round','Date','Year', 'Score']]
xgmatches=xgmatches[xgmatches['home_xg'].notna()]
xgmatches.describe()

       home_score     home_xg  away_score     away_xg         Year
count  128.000000  128.000000  128.000000  128.000000   128.000000
mean     1.500000    1.435938    1.164062    1.192187  2020.000000
std      1.452665    0.860391    0.986343    0.809258     2.007859
min      0.000000    0.100000    0.000000    0.000000  2018.000000
25%      0.000000    0.800000    0.000000    0.600000  2018.000000
50%      1.000000    1.300000    1.000000    1.000000  2020.000000
75%      2.000000    1.925000    2.000000    1.525000  2022.000000
max      7.000000    5.200000    4.000000    5.700000  2022.000000